<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ContSisFact.My.MySettings.MiConSettings" connectionString="Data Source=192.168.1.12;Initial Catalog=ECSESA;Persist Security Info=True;User ID=sa;Password=server@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>